# Comparison of classical forecasting methods

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('electricity.csv', index_col='Month', parse_dates=True)
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)
df = df.iloc[::-1]
df

C:\Users\Marcin\AppData\Local\Temp\ipykernel_6876\3049635059.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('electricity.csv', index_col='Month', parse_dates=True)

            Coal thousand tons
Month
2007-12-01         96610.08500
2008-01-01         88657.02500
2008-02-01         85270.25400
2008-03-01         78700.16800
2008-04-01         83057.81600
...                        ...
2022-06-01         50386.76376
2022-07-01         49318.31997
2022-08-01         38207.03492
2022-09-01         32390.58403
2022-10-01         33301.18205

[179 rows x 1 columns]

Timeseries plot

In [ ]:
plt.title('Total consumption of coal (tonnes) - US')
plt.plot(df)

Train and test data split

In [ ]:
train_data = df.iloc[:int(len(df)*0.8)]
test_data = df.iloc[int(len(df)*0.8):]

# Holt-Winters method

In [ ]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

fitHoltWinter = ExponentialSmoothing(train_data, trend='add', seasonal='add', seasonal_periods=12).fit()
fcastHoltWinter = fitHoltWinter.forecast(len(test_data)).rename('Holt-Winters Predict')
fcastHoltWinter

Plot of the timeseries with forecast

In [ ]:
plt.plot(train_data, label='Train data')
plt.plot(test_data, label='Test data')
plt.plot(fcastHoltWinter, label='Holt-Winters Prediction')
plt.legend()

# SARIMA method

In [ ]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
from pmdarima.arima import auto_arima

auto_arima(df, seasonal=True, m=12, trace=True).summary()

Split to train / test

In [ ]:
train=df.iloc[:-int(len(df) * 0.8)]
test=df.iloc[-int(len(df) * 0.8):]

In [ ]:
model=SARIMAX(train, order=(4,1,0), seasonal_order=(1, 0, 1, 12))
result=model.fit()